ion-content ion-img {
    width: 50%;
}

#img-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-header h1 {
    font-family: 'Mochiy Pop P One', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 120%;
}

ion-label {
    font-family: 'Mochiy Pop P One', sans-serif;
}