<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
  <ion-row>
    <ion-col>
      <h1 class="ion-text-center ion-padding-top ion-padding-start">
        PokeGhost <br> APP
      </h1>
    </ion-col>
    <ion-col>
      <ion-img src="../../../assets/images/gengar.png" class="ion-padding-start ion-padding-top"></ion-img>
    </ion-col>
  </ion-row>


</ion-header>