h1,h2 {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: justify;
}

p,li {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
}

ion-button {
    width: 100%;
  }