<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-content-fullscreen">
  <ion-header class="ion-padding-bottom">
      <ion-row>
        <ion-col>
          <h1 class="ion-padding-top ion-text-center">Empieza hoy tu aventura en el mundo de pokemon fantasma</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <div id="img-content">
          <ion-img
          src="../../assets/images/gastly-haunter-gengar.png" ></ion-img>
        </div>
      </ion-row>
  </ion-header>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-padding-start ion-margin-start elem-animado">
          <ion-label>Nombre</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder="Ingrese Nombre" name="nombreUsuario" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-start ion-margin-start elem-animado">
          <ion-label>Apellido</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder="Ingrese Apellido" name="apellidoUsuario" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-start ion-margin-start elem-animado">
          <ion-label>Nombre de usuario</ion-label>
        </ion-col>
        <ion-col>
          <ion-input type="text" placeholder="Ingrese Nickname" name="apellidoUsuario" required></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-start ion-margin-start">
          <ion-label>Profesión</ion-label>
        </ion-col>
        <ion-col class="ion-padding-start">
          <ion-select placeholder="Profesión" name="educacionUsuario">
            <ion-select-option value="basica">Básica</ion-select-option>
            <ion-select-option value="media">Media</ion-select-option>
            <ion-select-option value="universitaria">Universitaria</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-padding-start ion-margin-start">
          <ion-label>Fecha Nacimiento</ion-label>
        </ion-col>
        <ion-col class="">
          <ion-row>
            <ion-col>
              <ion-datetime-button datetime="datetime" id="input_date"></ion-datetime-button>
              <ion-modal [keepContentsMounted]="true">
                <ng-template>
                  <ion-datetime id="datetime" [presentation]="'date'"></ion-datetime>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col>
              <ion-icon name="calendar-outline"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <ion-button type="submit" class="ion-padding-end ion-margin-end" color="tertiary"
          expand="inline">Registrarme</ion-button>
        <ion-button type="submit" class="ion-padding-start ion-margin-start" color="tertiary"
          expand="inline">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
