<ion-header [translucent]="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-content-fullscreen">
  <ion-header class="ion-padding-bottom">
      <ion-row>
        <ion-col>
          <h1 class="ion-padding-top ion-text-center">Empieza hoy tu aventura en el mundo de pokemon fantasma</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <div id="img-content">
          <ion-img
          src="../../assets/images/gastly-haunter-gengar.png" ></ion-img>
        </div>
      </ion-row>
  </ion-header>
 <app-formulario></app-formulario>
</ion-content>
