<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center "><h1>SkeletonAPP</h1></ion-title>
    <ion-text>
      <p class="small-text ion-text-center ion-padding-bottom ion-no-margin">Aquí comienza todo</p>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-input 
      type="text" 
      name="user" 
      label="Usuario" 
      labelPlacement="floating"
      required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input type="password" name="password" label="Password" labelPlacement="floating" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Ingresar</ion-button>
        <ion-item>
          <a [routerLink]="['/crear-cuenta']" class="small-text ion-text-center">Crea tu cuenta gratis</a>
        </ion-item>
      </ion-col>
    </ion-row>
  </form>
</ion-content>